.header,
.header * {
  box-sizing: border-box;
}
.header {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 988px;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 211px;
  height: 48px;
  position: relative;
}
.designer {
  text-align: left;
  font: 700 48px "Josefin Sans", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.designer-span {
  color: #ffffff;
  font: 700 48px "Josefin Sans", sans-serif;
}
.designer-span2 {
  color: var(--primaria-1, #006b8d);
  font: 700 48px "Josefin Sans", sans-serif;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.inicio {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sobre {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.servi-os {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.portfolio {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pre-os {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contato {
  color: var(--write-1, #ffffff);
  text-align: left;
  font: 600 20px "Josefin Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
